h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(181, 65, 65);
    text-align: center;
}
h2{
    border: 1rem solid pink;
    display: inline-block;
}
p {
    color: rgb(234, 20, 34);
}